.avatar{
    width: 8vw;
    height: 8vw;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

}

.avatar img{
    width: 100%;
}

.Non{
    display: none;
}

.flex{
    display: block;
}