.linkAuth a{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: max(1vw,10pt);
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.linkAuth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max(10vw,125px);
}

@media (max-width: 767px) {
    .linkAuth{
        display: none;
    }
}