

.input input{
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;

    font-size: max(1.3vw,12pt);
    min-width: 250px;
    /*min-font-size: pt;*/
    padding: 1% 1% ;
    margin-top: 1vw;
    transition-duration: 1s;

    color:#756AA0 ;
}

.input{
    width: 100%;
    transition-duration: 1s;
}

.input div{
    transition-duration: 1s;
}

.error{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #d00c0c;
}

.noError{
    opacity: 0%;

}

.inputError{
    border: 2px solid #d00c0c;
}

.inputNoError{
    border: 2px solid #756AA0;
}