
.groupFlex{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.form_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.groupFlexColomn{
    display: flex;
    flex-direction: column;
    margin-right: 2%;

    justify-content: space-between;
}

.error{
    margin-top: 0.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #d00c0c;
}

.noError{
    margin-top: 0.5vh;
    opacity: 0%;

}
