.form{

    display: flex;
    flex-direction: column;

    padding: 2vw;

    background: rgba(255, 255, 255, 0.7);
    border: 3px solid #A29BBF;
    box-sizing: border-box;
    border-radius: 5px;

    margin-top: 5vh;

    /*transition-duration: 1s;*/
}

.form a{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;

    color: #756AA0;
}

.groupFlex{
    display: flex;
    justify-content: space-between;

}

.form_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.groupFlexColomn{
    display: flex;
    flex-direction: column;
    margin-right: 2%;

    justify-content: space-between;
}