.groupFlex{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.louder{
    margin: calc(50vh - 125px) 0;
    display: flex;
    justify-content: center;
}

.form_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;

    width: 100%;
}

.groupFlexColomn{
    display: flex;
    flex-direction: column;
    margin-right: 2%;

    justify-content: space-between;
}

.link{
    /*max-width: 20vw;*/
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.respons img{
    width: 100%;
}

@media (max-width: 767px) {
    .contener, .respons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .displayNon{
        display: none;
    }
    .groupFlexColomn{
        width: 100%;
        margin: 0;
    }
    .groupFlex{
        width: 100%;

    }

}